html {
  font-size: 100%
}

#content.full a:hover,
#content.full a:focus {
  text-decoration: none;
  color: #fff
}

.headernew {
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  bottom: auto;
  left: 0;
  position: fixed;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  padding: 10px;
  background: rgba(0, 0, 0, .25);
  color: #fff;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}

.headernew * {
  box-sizing: border-box
}

.headernew.top-only {
  background: #fff;
  color: #666;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

.header--small {
  background: #fff;
  color: #666;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

.header--small .logo {
  margin-bottom: 0
}

.header--small .logo__white {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: none
}

.header--small .logo__color {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  display: block
}

.header--small .nav__toggle {
  border-color: rgba(0, 0, 0, .15)
}

.header--small .nav__toggle span,
.header--small .nav__toggle span:before,
.header--small .nav__toggle span:after {
  background-color: #666
}

.header--small .header__socials {
  display: none;
  margin-top: 5px;
  margin-bottom: 10px
}

.header--small .header__register {
  display: none
}

.header--small .header__nav a,
.headernew.top-only .header__nav a,
.header--small .header__nav a:hover,
.headernew.top-only .header__nav a:hover {
  color: #000
}

.header--small .header__conferences,
.headernew.top-only .header__conferences {
  color: #1d8045
}

.header--small .header__conferences strong,
.headernew.top-only .header__conferences strong {
  color: #666
}

.header--small .header__button {
  line-height: normal
}

.header__right {
  text-align: center;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}

.headernew p {
  margin: 0;
  font-size: 12px;
  font-size: .75rem;
  line-height: 16px;
  line-height: 1rem
}

.header__socials {
  display: none
}

.header__socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out
}

.header__socials a:before {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 24px;
  flex: 0 1 24px;
  width: auto
}

.header__socials a.twitter {
  background-color: #1ccae4
}

.header__socials a.twitter:before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' viewBox='0 0 16 13'%3E%3Cpath fill='%23FFF' d='M14.363 3.235c.006.143.008.286.008.423 0 4.34-3.301 9.342-9.34 9.342A9.31 9.31 0 0 1 0 11.525a6.574 6.574 0 0 0 4.86-1.364c-1.42-.034-2.657-.95-3.069-2.274.204.04.411.059.62.059a3.19 3.19 0 0 0 .866-.117C1.727 7.5.627 6.157.642 4.613v-.04c.456.25.966.39 1.489.41C.683 3.993.244 2.096 1.115.598c1.642 2.04 4.108 3.29 6.765 3.43a3.308 3.308 0 0 1-.084-.747C7.772 1.492 9.242.023 11.078 0c.912 0 1.782.375 2.395 1.033A6.453 6.453 0 0 0 15.56.24a3.274 3.274 0 0 1-1.445 1.813A6.543 6.543 0 0 0 16 1.54a6.681 6.681 0 0 1-1.637 1.695z'/%3E%3C/svg%3E");
  height: 20px
}

.header__socials a.facebook {
  background-color: #4e7ac0
}

.header__socials a.facebook:before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='16' viewBox='0 0 9 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EFacebook Icon%3C/title%3E%3Cpath d='M2.668 16V8.683H0V5.884h2.668V3.772C2.668 1.339 4.256 0 6.606 0 7.73 0 8.718.073 9 .107v2.579H7.329c-1.278 0-1.517.56-1.517 1.386v1.812H8.87l-.398 2.799h-2.66V16h-3.15.006z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 18px
}

.header__socials a.google-plus {
  background-color: #ff4a5d
}

.header__socials a.google-plus:before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='19' height='12' viewBox='0 0 19 12' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EGoogle+ Icon%3C/title%3E%3Cpath d='M6.045 5.143V7.2h3.43c-.14.883-1.037 2.589-3.43 2.589C3.981 9.789 2.297 8.09 2.297 6s1.684-3.789 3.748-3.789c1.175 0 1.96.498 2.41.926l1.64-1.568C9.043.59 7.679 0 6.046 0 2.703 0 0 2.683 0 6s2.703 6 6.045 6c3.49 0 5.804-2.434 5.804-5.863 0-.394-.043-.694-.095-.994H6.045zm12.955 0h-1.727V3.429h-1.728v1.714h-1.727v1.714h1.727v1.714h1.728V6.857H19V5.143z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.header__socials a.youtube {
  background-color: #ce1312
}

.header__socials a.youtube:before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='11' viewBox='0 0 16 11'%3E%3Cpath fill='%23FFF' d='M6.348 7.529V3.134L10.67 5.34l-4.323 2.19zm9.492-5.156s-.156-1.078-.636-1.552c-.609-.624-1.29-.626-1.603-.663C11.362 0 8.003 0 8.003 0h-.006S4.638 0 2.399.158c-.313.037-.994.04-1.603.663C.316 1.295.16 2.373.16 2.373S0 3.639 0 4.904v1.187c0 1.265.16 2.53.16 2.53S.316 9.7.795 10.175c.61.623 1.409.604 1.765.669C3.84 10.963 8 11 8 11s3.362-.005 5.601-.163c.313-.037.994-.04 1.603-.663.48-.475.636-1.552.636-1.552S16 7.356 16 6.09V4.904c0-1.265-.16-2.531-.16-2.531z'/%3E%3C/svg%3E")
}

.header__socials a.linkedin {
  background-color: #007ebb
}

.header__socials a.linkedin:before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='15' height='14' viewBox='0 0 15 14' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ELinkedIn-color%3C/title%3E%3Cpath d='M15 13.636h-3.315V8.843c0-1.255-.519-2.112-1.66-2.112-.871 0-1.356.578-1.582 1.135-.085.2-.072.479-.072.757v5.013H5.087s.042-8.491 0-9.263h3.284v1.454c.194-.636 1.244-1.543 2.919-1.543 2.078 0 3.71 1.332 3.71 4.202v5.15zM1.766 3.214h-.022C.686 3.214 0 2.506 0 1.608 0 .693.706 0 1.786 0c1.079 0 1.742.692 1.763 1.606 0 .897-.684 1.608-1.783 1.608zM.378 4.373h2.924v9.263H.378V4.373z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 21px
}

.header__socials a.flickr {
  background-color: #0960d5
}

.header__socials a.flickr:before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='8' viewBox='0 0 18 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EFlickr-color%3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M17.84 3.874c0 2.14-1.757 3.875-3.929 3.875-2.173 0-3.931-1.735-3.931-3.875C9.98 1.735 11.738 0 13.91 0c2.172 0 3.929 1.735 3.929 3.874' fill='%23FF007F'/%3E%3Cpath d='M7.859 3.874c0 2.14-1.758 3.875-3.932 3.875C1.757 7.75 0 6.014 0 3.874 0 1.735 1.757 0 3.927 0 6.101 0 7.86 1.735 7.86 3.874' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E")
}

.header__socials a.lanyrd {
  background-color: #2b85e2
}

.header__socials a.lanyrd:before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='15' height='16' viewBox='0 0 15 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EPath%3C/title%3E%3Cpath d='M13.413 13.6c-2.09.688-6.174 2.029-6.936 2.22-.763.19-1.55.51-1.993-.77 0 0-3.763-11.118-4.108-12.102-.344-.984-.68-1.577.099-1.888C2.27.343 4.14-.572 4.485.47c.307.933 3.59 11.217 3.59 11.217s3.863-1.36 4.92-1.654c1.058-.296 1.42-.492 1.698.959.276 1.451.811 1.919-1.28 2.607z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 19px
}

.header__conferences {
  color: rgba(255, 255, 255, .5);
  -webkit-transition: max-height .15s ease-in-out;
  transition: max-height .15s ease-in-out
}

.header__conferences strong {
  color: rgba(255, 255, 255, .75)
}

.header__logo {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: left;
  padding: 0!important
}

.header__logo a {
  display: block;
  height: 40px;
  min-width: 95px;
  outline: 0;
  text-decoration: none
}

.header__logo img {
  height: 35px;
  width: auto;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out
}

.header__register {
  -webkit-transition: top .15s ease-in-out, right .15s ease-in-out;
  transition: top .15s ease-in-out, right .15s ease-in-out;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin-top: 10px
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: ;
  align-content: ;
  margin-left: auto;
  background: #ff4136;
  font-size: 12px;
  font-size: .75rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: 600;
  min-height: 44px;
  cursor: pointer;
  padding: 13px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 0 0 #de1f00, 0 5px 2px 0 #795353;
  color: rgba(255, 255, 255, .95);
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}

.header__button:hover {
  color: #fff;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 2px 0 0 #de1f00, 0 2px 1px 0 #795353
}

.header__nav {
  line-height: 46px;
  line-height: 2.875rem;
  display: none
}

.header__nav a {
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  font-size: .6875rem;
  line-height: 32px;
  line-height: 2rem;
  height: 100%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  position: relative
}

.header__nav a:hover,
header__nav a:focus {
  color: #fff;
  text-decoration: none
}

.header__nav a:after {
  content: "";
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  height: 3px;
  width: 100%;
  background: #51a562;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}

.header__nav a:hover:after {
  bottom: 3px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.header__nav a:not(:last-child) {
  margin-right: 20px
}

.logo__color {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: none;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out
}

#content {
  padding: 0;
  display: block;
  position: relative
}

.hero {
  display: block;
  position: relative;
  overflow: hidden;
  color: #fff;
  min-height: 100%;
  min-height: 100vh;
}

#sumome-smartbar-popup+#skip-link+#page-wrapper .hero {
  min-height: calc(100% - 57px);
  min-height: calc(100vh - 57px)
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero p {
  margin-top: 0
}

.hero * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased
}

.hero__wrapper {
  position: absolute;
  width: 100%;
  height: calc(100% - 48px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.hero__slide {
  position: relative;
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding: 120px 10px 20px;
  -webkit-transition: padding .15s ease-in-out;
  transition: padding .15s ease-in-out
}

.hero__pagination {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  min-height: 48px;
  background: rgba(0, 0, 0, .25);
  -webkit-transition: min-height .15s ease-in-out;
  transition: min-height .15s ease-in-out
}

.hero__pagination:after,
.hero__pagination:before {
  content: "";
  display: table
}

.hero__pagination:after {
  clear: both
}

.scroll-down {
  display: none;
  position: absolute;
  bottom: 48px;
  left: 50%;
  font-size: 12px;
  font-size: .75rem;
  color: #ddd;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity .75s ease;
  transition: opacity .75s ease
}

.scroll-down svg {
  height: 37px;
  width: 25px;
  margin: 0 auto
}

.scroll-down svg .scroller {
  -webkit-animation: updown 1s infinite;
  animation: updown 1s infinite
}

.swiper-container-horizontal .scroll-down {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes updown {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

.slide__preload {
  top: 0;
  right: 0;
  bottom: -100px;
  left: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  background: #000
}

.slide__preload:before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, .75);
  z-index: 1;
  -webkit-transition: background-color .1s ease-in-out;
  transition: background-color .1s ease-in-out
}

.slide__preload img {
  min-height: 100%;
  min-width: 100%;
  max-width: inherit!important;
  width: auto;
  height: 100%;
  top: 0;
  right: 0;
  bottom: -100px;
  left: auto;
  position: absolute;
  z-index: 1
}

.slide--active .slide__preload img {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.slide__main {
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 64%;
  left: 10px;
  right: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}

.slide__desc,
.slide__main {
  display: block
}

.slide__desc:after,
.slide__desc:before {
  content: "";
  display: table
}

.slide__desc:after {
  clear: both
}

.slide__hero {
  display: block;
  margin: 10px 0;
  font-weight: 600;
  font-size: 6vw;
  line-height: 7vw;
  letter-spacing: -.95px;
  margin-bottom: 10px
}

.slide__content {
  display: block;
  margin-bottom: 10px
}

.slide__content:last-child {
  margin-bottom: 0
}

.slide__content h6 {
  color: #51a562;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16.8px;
  line-height: 1.05rem;
  margin: 0 0 5px
}

.slide__content p {
  font-size: 12px;
  font-size: .75rem;
  margin: 0 0 5px;
  color: #fff;
  font-weight: 600;
  line-height: 1.3;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}

.slide__content p:last-child {
  margin-bottom: 0!important
}

.slide__progress {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
  min-width: 0;
  height: 3px;
  background: #51a562;
  -webkit-transition: min-width 0s ease-in;
  transition: min-width 0s ease-in;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.slide--progressing {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: min-width 10s ease-in;
  transition: min-width 10s ease-in;
  min-width: 100%
}

.slide__bullet {
  width: 24.975%;
  background: rgba(0, 0, 0, .35);
  position: relative;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  min-height: 48px;
  -webkit-transition: min-height .15s ease-in-out;
  transition: min-height .15s ease-in-out
}

.slide__bullet:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none
}

.slide__bullet:last-child {
  margin-right: 0
}

.slide__bullet:nth-child(4n) {
  margin-right: 0;
  float: right
}

.slide__bullet:nth-child(4n+1) {
  clear: both
}

.slide__bullet:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, .1)
}

.slide__bullet--active {
  background: transparent
}

.slide__bullet--active .slide__progress {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.slide__title {
  color: #fff;
  max-width: 230px;
  margin: 0 auto;
  font-size: 0;
  text-transform: uppercase;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}

.slide__number {
  display: block;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 28px;
  line-height: 1.75rem;
  color: #51a562;
  font-weight: 700
}

.slide__number:before {
  content: "0"
}

.slide__number:after {
  content: "."
}

.nav__toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0 10px;
  width: 40px;
  background: transparent;
  border: 0;
  height: 40px;
  font-size: 0;
  border: 1px solid rgba(255, 255, 255, .25)
}

.nav__toggle span,
.nav__toggle span:before,
.nav__toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 20px;
  background: white;
  position: absolute;
  display: block;
  content: ''
}

.nav__toggle span:before {
  top: -6px
}

.nav__toggle span:after {
  bottom: -6px
}

.nav__toggle span,
.nav__toggle span:before,
.nav__toggle span:after {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out
}

.pane-speakers-panel-pane-1 .view-speakers .views-row .row-wrapper .views-field-view-user a {
  white-space: normal
}

@media only screen and (min-width:1100px) {
  .header__right {
    text-align: right;
    padding-right: 290px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .header__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 24px;
    flex: 1 1 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
  .header__logo {
    margin-bottom: 0
  }
  .header__nav {
    text-align: right
  }
}

@media only screen and (min-width:680px) {
  .header--small .header__socials {
    margin-bottom: 0
  }
  .header--small .header__register {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .logo {
    margin-right: 38px;
    height: 63px
  }
  .header__button {
    max-width: 270px
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex: 1 1 100%
  }
  .logo__color {
    left: -5px;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@media only screen and (max-width:1000px) {
  .header--small .header__nav {
    line-height: 1.5rem
  }
  .header--small .header__nav a:after {
    bottom: -5px
  }
  .header--small .header__nav a:hover:after {
    bottom: 0
  }
}

@media only screen and (min-width:1000px) {
  .header--small .header__nav {
    margin-top: 10px
  }
  .slide__title {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.5rem
  }
}

@media only screen and (min-width:500px) {
  .headernew {
    flex-direction: row;
  }
  .headernew p {
    line-height: 1.25rem
  }
}

@media only screen and (min-width:700px) {
  .headernew .header__conferences {
    margin-bottom: 0
  }
  .header__logo a,
  .header__logo img {
    height: 63px
  }
  .hero__pagination {
    min-height: 90px
  }
  .scroll-down {
    bottom: 90px
  }
  .hero__wrapper {
    height: calc(100% - 90px)
  }
  .slide__bullet {
    min-height: 90px
  }
  .slide__title {
    font-size: .6875rem;
    line-height: .8125rem
  }
}

@media only screen and (min-width:1200px) {
  .headernew .header__conferences p {
    font-size: .75rem
  }
}

@media only screen and (min-width:1400px) {
  .header__button {
    min-width: 310px;
    font-size: .875rem
  }
  .header__right {
    padding-right: 340px;
    min-height: 50px
  }
}

@media only screen and (min-width:361px) {
  .header__nav a {
    font-size: .75rem
  }
}

@media only screen and (min-width:501px) {
  .header__nav a {
    font-size: .8125rem
  }
  .slide__main {
    padding-left: 35px;
    padding-right: 35px;
    top: 57%
  }
}

@media only screen and (min-width:1401px) {
  .header__nav a {
    font-size: .9375rem
  }
}

@media screen and (min-height:1120px) {
  .header__nav a {
    font-size: 1.125rem
  }
}

@media screen and (orientation:portrait) {
  .hero {
    min-height: calc(100vh - 65px)
  }
}

@media only screen and (min-width:500px) and (min-height:500px) {
  .hero__slide {
    padding: 120px 35px 40px
  }
  .slide__content h6 {
    line-height: 1.5rem
  }
  .slide__content {
    margin-bottom: 30px
  }
}

@media only screen and (min-width:800px) {
  .hero__slide {
    padding: 140px 50px 100px
  }
  .slide__preload:before {
    background-color: rgba(0, 0, 0, .35)!important
  }
  .slide__hero {
    font-size: 4vw;
    line-height: 4.5vw
  }
  .slide__content,
  .slide__hero {
    max-width: 60%
  }
  .header__button {
    padding-top: 10px;
    padding-bottom: 10px
  }
  .slide__main {
    padding-left: 50px;
    padding-right: 50px
  }
}

@media only screen and (min-width:1030px) {
  .hero__slide {
    padding: 120px 50px
  }
  .slide__preload:before {
    background-color: transparent!important
  }
  .slide__main {
    padding-left: 75px;
    padding-right: 75px
  }
}

@media only screen and (min-width:1150px) {
  .hero__slide {
    padding: 120px 75px
  }
}

@media only screen and (min-width:560px) {
  .nav__toggle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .header__button {
    max-width: 100%;
    width: 240px
  }
  .slide__preload:before {
    background-color: rgba(0, 0, 0, .65)
  }
  .slide__preload img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 10s ease-out;
    transition: -webkit-transform 10s ease-out;
    transition: transform 10s ease-out;
    transition: transform 10s ease-out, -webkit-transform 10s ease-out;
    max-width: none;
    height: auto
  }
  .slide__content h6 {
    margin-bottom: 10px;
    font-weight: 600
  }
  .header__register {
    overflow: visible;
    margin-left: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    padding-right: 50px;
    margin-top: 0;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in
  }
  .header__right {
    margin-top: 0
  }
}

@media only screen and (min-width:670px) and (max-height:745px) {
  .header__register {
    margin-top: 0
  }
}

@media only screen and (min-width:1300px) and (min-height:800px) {
  .slide__main {
    top: 50%
  }
}

@media screen and (min-height:550px) {
  .slide__hero {
    margin-bottom: 20px
  }
  .slide__content {
    margin-bottom: 30px
  }
  .slide__content h6 {
    line-height: 1.5rem
  }
}

@media screen and (min-height:650px) {
  .scroll-down {
    display: block
  }
  .scroll-down p {
    display: none
  }
  .slide__content h6 {
    font-size: 1.5rem
  }
  .slide__hero {
    font-size: 4vw;
    line-height: 4.2vw
  }
}

@media screen and (min-height:745px) {
  .slide__hero {
    margin-bottom: 30px
  }
  .scroll-down p {
    display: block
  }
}

@media screen and (min-height:550px) and (min-width:600px) {
  .slide__content p {
    font-size: .875rem;
    line-height: 1.75rem;
    margin-bottom: 0
  }
}

@media screen and (min-height:1000px) {
  .slide__content p {
    font-size: 1.25rem;
    line-height: 2rem
  }
}

@media screen and (min-height:1250px) {
  .slide__content,
  .slide__hero {
    margin-bottom: 70px
  }
  .slide__content p {
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin-bottom: 0
  }
  .slide__content h6 {
    font-size: 2.25rem;
    line-height: 2.25rem
  }
}

@media only screen and (min-width:600px) and (max-height:700px) {
  .slide__content {
    width: calc(99.9%*1/2 - 25px);
    vertical-align: top;
    margin-bottom: 0
  }
  .slide__content:nth-child(1n) {
    float: left;
    margin-right: 50px;
    clear: none
  }
  .slide__content:last-child {
    margin-right: 0
  }
  .slide__content:nth-child(2n) {
    margin-right: 0;
    float: right
  }
  .slide__content:nth-child(odd) {
    clear: both
  }
}

@media only screen and (min-width:760px) {
  .slide__title {
    font-size: .75rem;
    line-height: 1rem
  }
}

@media(min-width:680px) {
  .header__logo.logo img {
    width: 152px;
    height: 63px
  }
  .header__register {
    position: absolute;
    right: 20px;
    top: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding-right: 0
  }
  .header__right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
  }
  .nav__toggle {
    display: none
  }
  .headernew {
    padding-left: 20px
  }
}

@media only screen and (min-width:1800px) {
  .slide__hero {
    font-size: 3vw;
    line-height: 3.5vw
  }
  .slide__content,
  .slide__hero {
    max-width: 45%
  }
}
